In [2]:
import pandas as pd

In [3]:
path = '/home/hossein/Lats Win Files/Pandas-Cookbook-Second-Edition/data/movie.csv'

In [4]:
movie = pd.read_csv(path)

###  Day2_ use function to filter columns

In [5]:
def shorten(col):
    return(
        str(col).replace('facebook_likes','fb').replace('for_reviews','')
    )

In [6]:
movie = movie.rename(columns=shorten)
movie.columns

Index(['color', 'director_name', 'num_critic_', 'duration', 'director_fb',
       'actor_3_fb', 'actor_2_name', 'actor_1_fb', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_fb',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_fb', 'imdb_score', 'aspect_ratio',
       'movie_fb'],
      dtype='object')

###  Day3_ use filter to select columns

In [8]:
movie.filter(like='fb').head()

   director_fb  actor_3_fb  actor_1_fb  cast_total_fb  actor_2_fb  movie_fb
0          0.0       855.0      1000.0           4834       936.0     33000
1        563.0      1000.0     40000.0          48350      5000.0         0
2          0.0       161.0     11000.0          11700       393.0     85000
3      22000.0     23000.0     27000.0         106759     23000.0    164000
4        131.0         NaN       131.0            143        12.0         0

In [9]:
cols=['actor_2_name', 'actor_1_fb', 'gross']
movie.filter(items=cols).head()

       actor_2_name  actor_1_fb        gross
0  Joel David Moore      1000.0  760505847.0
1     Orlando Bloom     40000.0  309404152.0
2      Rory Kinnear     11000.0  200074175.0
3    Christian Bale     27000.0  448130642.0
4        Rob Walker       131.0          NaN

In [12]:
# use regex to folter columns
# filer columns with an integer in the name
movie.filter(regex=r'\d').head()

,actor_3_fb,actor_2_name,actor_1_fb,actor_1_name,actor_3_name,actor_2_fb
0,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
1,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
2,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
3,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
4,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0