In [5]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/siena2018-pres.csv'
pres = pd.read_csv(url,index_col=0)
pres.head()

,Seq.,President,Party,Bg,Im,Int,IQ,L,WR,AC,...,PL,RC,CAp,HE,EAp,DA,FPA,AM,EV,O
1,1,George Washington,Independent,7,7,1,10,1,6,2,...,18,1,1,1,1,2,2,1,2,1
2,2,John Adams,Federalist,3,13,4,4,24,14,31,...,28,17,4,13,15,19,13,16,10,14
3,3,Thomas Jefferson,Democratic-Republican,2,2,14,1,8,5,14,...,5,5,7,20,4,6,9,7,5,5
4,4,James Madison,Democratic-Republican,4,6,7,3,16,15,6,...,9,10,6,14,7,11,19,11,8,7
5,5,James Monroe,Democratic-Republican,9,14,11,18,6,16,7,...,12,8,11,9,9,10,5,6,9,8

In [3]:
def tweak_pres(df):
   def int64_to_unit(df_):
      cols = df_.select_dtypes('int64')
      return (df_.astype({col: 'uint8' for col in cols}))
   return (df
   .rename(columns={k:v.replace(' ','_') for k,v in 
      {'Bg': 'Background ',
               'PL': 'Party leadership ', 'CAb': ' Communication ability ',
               'RC': 'Relations with Congress ', 'CAp': 'Court appointments ',
               'HE': 'Handling of economy ', 'L': 'Luck ',
               'AC': 'Ability to compromise ', 'WR': 'Willing to take risks ',
               'EAp': 'Executive appointments ', 'OA': 'Overall ability ',
               'Im': 'Imagination ', 'DA': 'Domestic accomplishments ',
               'Int': 'Integrity ', 'EAb': 'Executive ability ',
               'FPA': 'Foreign policy accomplishments ',
               'LA': 'Leadership ability ',
               'IQ': 'Intelligence ', 'AM': 'Avoid crucial mistakes ',
               'EV': " Experts' view ", 'O': 'Overall'}.items()})
   .pipe(int64_to_unit)
   .assign(Average_Rank = lambda df_:(df_.select_dtypes('uint8')
   .sum(axis=1).rank(method='dense').astype('uint8')),
   Quartile=lambda df_:(pd.qcut(df_.Average_Rank,4,labels='1st 2nd 3rd 4th'.split()))
   ))

In [4]:
pres = tweak_pres(pres)
pres.head()

,Seq.,President,Party,Background_,Imagination_,Integrity_,Intelligence_,Luck_,Willing_to_take_risks_,Ability_to_compromise_,...,Court_appointments_,Handling_of_economy_,Executive_appointments_,Domestic_accomplishments_,Foreign_policy_accomplishments_,Avoid_crucial_mistakes_,_Experts'_view_,Overall,Average_Rank,Quartile
1,1,George Washington,Independent,7,7,1,10,1,6,2,...,1,1,1,2,2,1,2,1,1,1st
2,2,John Adams,Federalist,3,13,4,4,24,14,31,...,4,13,15,19,13,16,10,14,13,2nd
3,3,Thomas Jefferson,Democratic-Republican,2,2,14,1,8,5,14,...,7,20,4,6,9,7,5,5,5,1st
4,4,James Madison,Democratic-Republican,4,6,7,3,16,15,6,...,6,14,7,11,19,11,8,7,7,1st
5,5,James Monroe,Democratic-Republican,9,14,11,18,6,16,7,...,11,9,9,10,5,6,9,8,8,1st

In [10]:
# indexing on rows and columns
#on rows
pres.iloc[[0,11,5]]
#on columns
pres.iloc[:,[0,11]].head()

  Seq.  Leadership_ability_
1    1                    1
2    2                   21
3    3                    6
4    4                   17
5    5                   12

In [13]:
pres.iloc[:,1:5].head()

           President                  Party  Background_  Imagination_
1  George Washington            Independent            7             7
2         John Adams             Federalist            3            13
3   Thomas Jefferson  Democratic-Republican            2             2
4      James Madison  Democratic-Republican            4             6
5       James Monroe  Democratic-Republican            9            14

In [20]:
(pres
.set_index('Party')
.loc['Democratic-Republican']
)

,Seq.,President,Background_,Imagination_,Integrity_,Intelligence_,Luck_,Willing_to_take_risks_,Ability_to_compromise_,Executive_ability_,...,Court_appointments_,Handling_of_economy_,Executive_appointments_,Domestic_accomplishments_,Foreign_policy_accomplishments_,Avoid_crucial_mistakes_,_Experts'_view_,Overall,Average_Rank,Quartile
Party,,,,,,,,,,,,,,,,,,,,,
Democratic-Republican,3,Thomas Jefferson,2,2,14,1,8,5,14,6,...,7,20,4,6,9,7,5,5,5,1st
Democratic-Republican,4,James Madison,4,6,7,3,16,15,6,13,...,6,14,7,11,19,11,8,7,7,1st
Democratic-Republican,5,James Monroe,9,14,11,18,6,16,7,10,...,11,9,9,10,5,6,9,8,8,1st
Democratic-Republican,6,John Quincy Adams,1,9,6,5,29,19,24,22,...,15,17,18,21,15,14,18,18,18,2nd

In [6]:
countries = pd.read_csv('country-codes.csv')
countries.head()

,FIFA,Dial,ISO3166-1-Alpha-3,MARC,is_independent,ISO3166-1-numeric,GAUL,FIPS,WMO,ISO3166-1-Alpha-2,...,Sub-region Name,official_name_ru,Global Name,Capital,Continent,TLD,Languages,Geoname ID,CLDR display name,EDGAR
0,TPE,886,TWN,ch,Yes,158.0,925,TW,NaN,TW,...,NaN,NaN,NaN,Taipei,AS,.tw,"zh-TW,zh,nan,hak",1668284.0,Taiwan,NaN
1,AFG,93,AFG,af,Yes,4.0,1,AF,AF,AF,...,Southern Asia,Афганистан,World,Kabul,AS,.af,"fa-AF,ps,uz-AF,tk",1149361.0,Afghanistan,B2
2,ALB,355,ALB,aa,Yes,8.0,3,AL,AB,AL,...,Southern Europe,Албания,World,Tirana,EU,.al,"sq,el",783754.0,Albania,B3
3,ALG,213,DZA,ae,Yes,12.0,4,AG,AL,DZ,...,Northern Africa,Алжир,World,Algiers,AF,.dz,ar-DZ,2589581.0,Algeria,B4
4,ASA,1-684,ASM,as,Territory of US,16.0,5,AQ,NaN,AS,...,Polynesia,Американское Самоа,World,Pago Pago,OC,.as,"en-AS,sm,to",5880801.0,American Samoa,B5

In [14]:
(countries
.set_index('FIFA')
#Pull out the first two rows by name.
# .loc[['TPE','AFG']]
#Pull out the first two rows by index.
# .iloc[[0,1]]

)

,Dial,ISO3166-1-Alpha-3,MARC,is_independent,ISO3166-1-numeric,GAUL,FIPS,WMO,ISO3166-1-Alpha-2,ITU,...,Sub-region Name,official_name_ru,Global Name,Capital,Continent,TLD,Languages,Geoname ID,CLDR display name,EDGAR
FIFA,,,,,,,,,,,,,,,,,,,,,
TPE,886,TWN,ch,Yes,158.0,925,TW,NaN,TW,NaN,...,NaN,NaN,NaN,Taipei,AS,.tw,"zh-TW,zh,nan,hak",1668284.0,Taiwan,NaN
AFG,93,AFG,af,Yes,4.0,1,AF,AF,AF,AFG,...,Southern Asia,Афганистан,World,Kabul,AS,.af,"fa-AF,ps,uz-AF,tk",1149361.0,Afghanistan,B2

In [16]:
cols = countries.columns
(countries
.set_index('FIFA')
#3. Pull out the last two columns by name
.loc[:,cols[-2:]]
# 4. Pull out the last two columns by position.
.iloc[:,[-2,-1]]
)

     CLDR display name EDGAR
FIFA
TPE             Taiwan   NaN
AFG        Afghanistan    B2
ALB            Albania    B3
ALG            Algeria    B4
ASA     American Samoa    B5
...                ...   ...
SAH     Western Sahara    U5
YEM              Yemen    T7
ZAM             Zambia    Y4
ZIM           Zimbabwe    Y5
ALD      Åland Islands   NaN

[250 rows x 2 columns]