In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
url = 'https://raw.githubusercontent.com/mattharrison/datasets/master/data/dirtydevil.txt'
df = pd.read_csv(url,skiprows=lambda x: x<34 or x ==35 ,sep ='\t')
df.head()

/var/folders/pg/zck9hy351gbfrqfqp_z4gb1m0000gn/T/ipykernel_2929/633917389.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url,skiprows=lambda x: x<34 or x ==35 ,sep ='\t')

,agency_cd,site_no,datetime,tz_cd,144166_00060,144166_00060_cd,144167_00065,144167_00065_cd
0,USGS,9333500,2001-05-07 01:00,MDT,71.0,A:[91],NaN,NaN
1,USGS,9333500,2001-05-07 01:15,MDT,71.0,A:[91],NaN,NaN
2,USGS,9333500,2001-05-07 01:30,MDT,71.0,A:[91],NaN,NaN
3,USGS,9333500,2001-05-07 01:45,MDT,70.0,A:[91],NaN,NaN
4,USGS,9333500,2001-05-07 02:00,MDT,70.0,A:[91],NaN,NaN

In [8]:
def tweak_river(df_):
    return(df_
        .assign(datetime=pd.to_datetime(df_.datetime))
        .rename(columns={'144166_00060':'cfs','144167_00065':'gage_height'})
        .set_index('datetime')
        )

In [9]:
dd = tweak_river(df)
dd.head()

,agency_cd,site_no,tz_cd,cfs,144166_00060_cd,gage_height,144167_00065_cd
datetime,,,,,,,
2001-05-07 01:00:00,USGS,9333500,MDT,71.0,A:[91],NaN,NaN
2001-05-07 01:15:00,USGS,9333500,MDT,71.0,A:[91],NaN,NaN
2001-05-07 01:30:00,USGS,9333500,MDT,71.0,A:[91],NaN,NaN
2001-05-07 01:45:00,USGS,9333500,MDT,70.0,A:[91],NaN,NaN
2001-05-07 02:00:00,USGS,9333500,MDT,70.0,A:[91],NaN,NaN