In [12]:
import pandas as pd
import requests
import wget

In [2]:
s1 = pd.Series ([10 , 20, 30] , index =[1 ,2 ,2])
s2 = pd.Series ([35 , 44, 53] , index =[2 ,2 ,4] , name ='s2 ')

s1+s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [3]:
s1.add(s2)

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [5]:
s1.add(s2,fill_value=1)

1    11.0
2    55.0
2    64.0
2    65.0
2    74.0
4    54.0
dtype: float64

In [ ]:
# Broadcasting
s= pd.Series([3,5,7])
s+4

0     7
1     9
2    11
dtype: int64

In [ ]:
dict = {'a':[1,2,3],'b':[4,5,6]}
df = pd.DataFrame(dict)
df.head()

   a  b
0  1  4
1  2  5
2  3  6

In [ ]:
df + 4

   a   b
0  5   8
1  6   9
2  7  10

In [14]:
# Chaining
# url = 'https://github.com/mattharrison/datasets/blob/master/data/vehicles.csv.zip'
df = pd.read_csv('vehicles.csv')

df.head()

/var/folders/pg/zck9hy351gbfrqfqp_z4gb1m0000gn/T/ipykernel_4024/1621340193.py:3: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('vehicles.csv')

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0