In [16]:
import pandas as pd
import requests
import wget
import numpy as np

In [2]:
s1 = pd.Series ([10 , 20, 30] , index =[1 ,2 ,2])
s2 = pd.Series ([35 , 44, 53] , index =[2 ,2 ,4] , name ='s2 ')

s1+s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [3]:
s1.add(s2)

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [5]:
s1.add(s2,fill_value=1)

1    11.0
2    55.0
2    64.0
2    65.0
2    74.0
4    54.0
dtype: float64

In [ ]:
# Broadcasting
s= pd.Series([3,5,7])
s+4

0     7
1     9
2    11
dtype: int64

In [ ]:
dict = {'a':[1,2,3],'b':[4,5,6]}
df = pd.DataFrame(dict)
df.head()

   a  b
0  1  4
1  2  5
2  3  6

In [ ]:
df + 4

   a   b
0  5   8
1  6   9
2  7  10

In [2]:
# Chaining
# url = 'https://github.com/mattharrison/datasets/blob/master/data/vehicles.csv.zip'
# wget.download(url,'vehicles.csv.zip')
df = pd.read_csv('vehicles.csv')

df.head()

/home/hossein/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [3]:
city_mpg = df.city08
highway_mpg = df.highway08

In [12]:
(
    (city_mpg + highway_mpg)
    / 2  
    )

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [2]:
energy = pd.read_csv('global_power_plant_database.csv')
energy.head()

/var/folders/pg/zck9hy351gbfrqfqp_z4gb1m0000gn/T/ipykernel_1684/1016391085.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  energy = pd.read_csv('global_power_plant_database.csv')

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017,estimated_generation_note_2013,estimated_generation_note_2014,estimated_generation_note_2015,estimated_generation_note_2016,estimated_generation_note_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.0,32.322,65.1190,Hydro,NaN,NaN,...,123.77,162.90,97.39,137.76,119.50,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
1,AFG,Afghanistan,Kandahar DOG,WKS0070144,10.0,31.670,65.7950,Solar,NaN,NaN,...,18.43,17.48,18.25,17.70,18.29,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
2,AFG,Afghanistan,Kandahar JOL,WKS0071196,10.0,31.623,65.7920,Solar,NaN,NaN,...,18.64,17.58,19.10,17.62,18.72,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.0,34.556,69.4787,Hydro,NaN,NaN,...,225.06,203.55,146.90,230.18,174.91,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.0,34.641,69.7170,Hydro,NaN,NaN,...,406.16,357.22,270.99,395.38,350.80,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1

In [3]:
energy.dtypes

country                            object
country_long                       object
name                               object
gppd_idnr                          object
capacity_mw                       float64
latitude                          float64
longitude                         float64
primary_fuel                       object
other_fuel1                        object
other_fuel2                        object
other_fuel3                        object
commissioning_year                float64
owner                              object
source                             object
url                                object
geolocation_source                 object
wepp_id                            object
year_of_capacity_data             float64
generation_gwh_2013               float64
generation_gwh_2014               float64
generation_gwh_2015               float64
generation_gwh_2016               float64
generation_gwh_2017               float64
generation_gwh_2018               float64
generation_gwh_2019               float64
generation_data_source             object
estimated_generation_gwh_2013     float64
estimated_generation_gwh_2014     float64
estimated_generation_gwh_2015     float64
estimated_generation_gwh_2016     float64
estimated_generation_gwh_2017     float64
estimated_generation_note_2013     object
estimated_generation_note_2014     object
estimated_generation_note_2015     object
estimated_generation_note_2016     object
estimated_generation_note_2017     object
dtype: object

In [4]:
capacity = energy.capacity_mw
capacity

0         33.0
1         10.0
2         10.0
3         66.0
4        100.0
         ...
34931     50.0
34932     20.0
34933    108.0
34934    920.0
34935    750.0
Name: capacity_mw, Length: 34936, dtype: float64

In [9]:
capacity.add?

Signature: capacity.add(other, level=None, fill_value=None, axis=0)
Docstring:
Return Addition of series and other, element-wise (binary operator `add`).

Equivalent to ``series + other``, but with support to substitute a fill_value for
missing data in either one of the inputs.

Parameters
----------
other : Series or scalar value
fill_value : None or float value, default None (NaN)
    Fill existing missing (NaN) values, and any new element needed for
    successful Series alignment, with this value before computation.
    If data in both corresponding Series locations is missing
    the result of filling (at that location) will be missing.
level : int or name
    Broadcast across a level, matching Index values on the
    passed MultiIndex level.

Returns
-------
Series
    The result of the operation.

See Also
--------
Series.radd : Reverse of the Addition operator, see
    `Python documentation
    <https://docs.python.org/3/reference/datamodel.html#emulating-numeric-types>`_
    for more details.

Examples
--------
>>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
>>> a
a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
>>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
>>> b
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64
>>> a.add(b, fill_value=0)
a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64
File:      ~/Library/Python/3.8/lib/python/site-packages/pandas/core/ops/__init__.py
Type:      method

In [5]:
capacity + 20

0         53.0
1         30.0
2         30.0
3         86.0
4        120.0
         ...
34931     70.0
34932     40.0
34933    128.0
34934    940.0
34935    770.0
Name: capacity_mw, Length: 34936, dtype: float64

In [6]:
capacity.add(capacity)

0          66.0
1          20.0
2          20.0
3         132.0
4         200.0
          ...
34931     100.0
34932      40.0
34933     216.0
34934    1840.0
34935    1500.0
Name: capacity_mw, Length: 34936, dtype: float64

In [15]:
(city_mpg
.gt(50)
.mul(100)
.mean()
)

0.5735951779117247

In [17]:
def secont_last(df):
    return df.iloc[-2]

In [25]:
(city_mpg
.agg(['mean','max','min','std','var','skew','kurt','quantile','median','first','last',secont_last,'dtypes',
'hasnans','idxmax','idxmin',])
)

mean           18.369045
max                  150
min                    6
std             7.905886
var            62.503036
skew            7.705198
kurt           91.902168
quantile            17.0
median              17.0
secont_last           18
dtypes             int64
hasnans            False
idxmax             31256
idxmin              7901
Name: city08, dtype: object